@import url("https://fonts.googleapis.com/css?family=Questrial");

body,
html {
  background-color: #16bdac;
}

h1 {
  text-align: center;
  font-family: "Questrial", "Helvetica", sans-serif;
  font-size: 40px;
  color: #545454;
  padding: 30px 0 5px 0;
}

#reset-button {
  font-family: "Questrial", "Helvetica", sans-serif;
  font-size: 16px;
  color: #545454;
  background-color: #0ea092;
  border: 5px solid #0ea092;
  display: inline-block;
  padding: 15px 20px;
}

#reset-button:hover {
  background-color: #2dc3b4;
  cursor: pointer;
}

p {
  font-family: "Questrial", "Helvetica", sans-serif;
  color: #545454;
  position: relative;
  left: 25px;
  top: 5px;
}
